body {
  background-color: red;
}

.header-top {
  margin: 1rem;
}
.header-top-inner {
  padding: 0 120px;
}

#header-controls {
  margin-top: 15px;
  color: red;
}

#header {
  :first-child {
    color: purple;
  }
}
